/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
// | TAB |  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  | O  |  '  |
// | SHIFT |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  | SHIFT  |
//                    | LWR | CMD | SPC |   | ENTER | CMD  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp F &kp P &kp G   &kp J &kp L  &kp U   &kp Y   &kp SEMI    &kp BSPC
   &kp TAB &kp A &kp R &kp S &kp T &kp D   &kp H &kp N  &kp E  &kp I  &kp O &kp SQT
   &kp LSHIFT &kp Z &kp X &kp C &kp V &kp B   &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                 &mo 1 &kp LGUI &kp SPACE   &kp RSHIFT &mo 2 &kp LCTRL
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  ;  |  :  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 |     |   |LEFT |DOWN |  UP |RIGHT|  '  |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |  "  |      |
//                    |     | CMD | SPC |   | ENTER |RAISE|     |
                        bindings = <
   &kp TAB    &kp EXCL       &kp AT       &kp HASH       &kp DLLR       &kp PRCNT         &kp CARET   &kp AMPS   &kp ASTRK &kp SEMI    &kp COLON &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3   &trans  &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp SQT &trans
   &kp LSHIFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &kp DQT &trans
                                    &trans  &trans  &trans  &kp ENTER &mo 2  &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |     |  (  |  )  |  _  |   |  -  |  7  |  8  |  9  |    | BKSP |
// |      |     |  |  | {   |  }  |  =  |   |  +  |  4  |  5  |  6  |    |      |
// | SHFT | `   |  ~  |  [  |  ]  |     |   |  0  |  1  |  2  |  3  | \  |      |
//                    |     | CMD | SPC |   | ENTER |     |     |
                        bindings = <
   &kp  TAB  &trans &trans &kp LPAR &kp RPAR &kp UNDER   &kp MINUS &kp KP_NUMBER_7  &kp KP_NUMBER_8 &kp KP_NUMBER_9 &trans &kp BSPC
   &trans &trans   &kp PIPE &kp LBRC   &kp RBRC   &kp EQUAL      &kp PLUS &kp KP_NUMBER_4 &kp KP_NUMBER_5  &kp KP_NUMBER_6 &trans &trans
   &kp LSHIFT &kp GRAVE  &kp TILDE &kp LBKT   &kp RBKT   &trans      &kp KP_NUMBER_0 &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3 &kp BSLH &trans
                             &trans &kp LGUI   &kp SPACE   &kp ENTER   &trans    &trans
                        >;
                };
        };
};
