/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
        keymap {
                compatible = "zmk,keymap";

                default_layer {
// -----------------------------------------------------------------------------------------
// | ESC  |  Q  |  W  |  F  |  P  |  G  |   |  J  |  L   |  U  |  Y  |  ;  | BKSP |
// | TAB |  A  |  R  |  S  |  T  |  D  |   |  H  |  N   |  E  |  I  | O  |  '  |
// | SHIFT |  Z  |  X  |  C  |  V  |  B  |   |  K  |  M   |  ,  |  .  |  /  | SHIFT  |
//                    | CTRL | CMD | SPC |   | ENT | CMD  | ALT |
                        bindings = <
   &kp ESC   &kp Q &kp W &kp F &kp P &kp G   &kp J &kp L  &kpU   &kp Y   &kp ;    &kp BSPC
   &kp TAB &kp A &kp R &kp S &kp T &kp D   &kp H &kp N  &kp E  &kp E  &kp I &kp '
   &kp LSHFT &kp Z &kp X &kp C &kp V &kp B   &kp K &kp M  &kp COMMA &kp DOT &kp FSLH &kp RSHIFT
                 &kp CTRL  &mo 1 &kp SPACE   &kp RET &kp RGUI &kp RALT
                        >;
                };
                lower_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  ;  |  :  | BKSP |
// | BTCLR| BT1 | BT2 | BT3 | BT4 |     |   |LEFT |DOWN |  UP |RIGHT|  '  |      |
// | SHFT |     |     |     |     |     |   |     |     |     |     |  "  |      |
//                    |     | CMD | SPC |   | ENT |RAISE|     |
                        bindings = <
   &kp TAB    &kp EXCL       &kp AT       &kp HASH       &kp DLLR       &kp PRCNT         &kp CARET   &kp AMPS   &kp ASTRK &kp ;    &kp : &kp BSPC
   &bt BT_CLR &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2 &bt BT_SEL 3    &kp LEFT &kp DOWN &kp UP &kp RIGHT &kp '
   &kp LSHFT  &trans       &trans       &trans       &trans       &trans         &trans   &trans   &trans &trans    &kp "
                                    &trans     &trans       &trans      &kp ENT  &mo 2   &trans
                        >;
                };

                raise_layer {
// -----------------------------------------------------------------------------------------
// |  TAB |     |     |  (  |  )  |  _  |   |  -  |  7  |  8  |  9  |    | BKSP |
// |      |     |  |  | {   |  }  |  =  |   |  +  |  4  |  5  |  6  |    |      |
// | SHFT | `   |  ~  |  [  |  ]  |     |   |  0  |  1  |  2  |  3  | \  |      |
//                    |     | CMD | SPC |   | ENT |     |     |
                        bindings = <
   &kp  TAB  &trans &trans &kp LPAR &kp RPAR &kp UNDER   &kp MINUS &kp 7  &kp 8 &kp 9 &trans &kp BSPC
   &trans &trans   &kp PIPE &kp LBRC   &kp RBRC   &kp EQUAL      &kp PLUS &kp 4 &kp 5  &kp 6 &trans &trans
   &kp LSHFT &kp GRAVE  &kp TILDE &kp LBKT   &kp RBKT   &trans      &kp 0 &kp 1  &kp 2  &kp 3 &kp BSLH &trans
                             &trans &LGUI   &kp SPACE   &kp RET   &trans    &trans
                        >;
                };
        };
};
